*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#333333+0,000000+100;Black+3D */
    background: #333; /* Old browsers */
    background: -moz-linear-gradient(top,  #333333 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #333333 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #333333 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.conteiner {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 0.5fr 3fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "topp"
      "nav"
      "portadas"
      "footerr"; 
}

.topp { 
    grid-area: topp; 
}

.nav{
    grid-area: nav;
}

.menu{
    width: 100%;
    background-color: rgb(98, 102, 47);
    padding: 2%;
    list-style: none;
    text-align: center;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.menu li {
   display: inline-block;
   text-align: center;
}

.menu li a {
    padding: 2px;
    margin: 5px;
    color: beige;
    text-decoration: none;
    display: inline-block;    
}

.menu li a:hover{
    background-color: rgb(154, 190, 53);
    border-radius: 80%;
}

.portadas{
    justify-content: center;
    grid-area: portadas;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.imggrande{
    height: 450px;
    width: 450px;
    margin: 20px;
}

.imggrande:hover{
    transform: scale(1.2,1.2);
    transition: all 2s;
}

#logito{
    text-align: center;
    animation: logo 3s ease;
}

@keyframes logo {
    0% {
    opacity: 0;}
    50% {
    opacity: 0.5;}
    100% {
    opacity: 1;}
}

#tit1{
    animation: tituloprincipal 5s ease;
    color: beige;
}

@keyframes tituloprincipal {
    0% {
    opacity: 0;}
    50% {
    opacity: 0.5;}
    100% {
    opacity: 1;}
}

#tit2{
    animation: titulosecundario 7s ease;
    color: azure;
}

@keyframes titulosecundario {
    0%{
        opacity: 0;
    }
    50% {
    opacity: 0.5}
    100%{
        opacity: 1;
    }
}

.logo{
    width: 150px;
}

.sobrenosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutus{
    margin-top: 2cm;
    width: 55% ;
    margin-bottom: 2cm;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: justify;
}

#somos {
    width: fit-content;
    background-color: rgb(211, 214, 193);
    margin: 10 auto;
    text-align: center;
}

h1 {
    color: rgb(247, 247, 239);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Lobster', cursive;   
}

h2 {
    text-align: center ;
    font-size: 2rem;
    font-style: italic;
    color: rgb(233, 206, 132);
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

h3{
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    width: 40%;
    color: rgb(233, 206, 132);
    text-decoration: underline;
}

p{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: beige;
}

.botonarriba {
    width: 80px;
    padding: 5px;
    background-color: beige;
    margin: 5px ;
    border: 25px black;
    font-weight: bold;
    bottom: 50px;
    left: 5px;
}

.botonarriba a{
    text-decoration: none;
    color: rgb(201, 135, 36);
}

.footerr{
    grid-area: footerr;
    background-color: rgba(184, 147, 25, 0.534);
    font-size: 20px;
    font-family: 'Lobster', cursive;
    flex-direction: row; 
}

.foot{
    display: flex;
    justify-content: space-evenly;
}

.direcciontelefono{
    height: 200;
    width: 200;
    text-align: center;
    margin: 10mp;
}

.redes{
    width: 30;
    display:inline-block;
}

.redessociales{
    width: 100;
    height: 100;
    text-align: center;
    left: 900;
}

.redessociales img{
    width: 30
}

#copy{
    text-align: center;
    size: 10px;    
}

#titulo1{
    width: fit-content;
    background-color: rgb(211, 214, 193);
    margin: 10 auto;
    text-align: center;
}

.obras{
    width: auto;
    height: auto;
    margin:10 auto;
    border: solid black 2px;
    text-align: center;
    background-color:rgb(211, 214, 193);
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "obra11 obra12 obra13"
    "obra21 obra22 obra23"
    "obra31 obra32 obra33"
    "obra41 obra42 obra43"
    "obra51 obra52 obra53";  
}

.obra11{
    grid-area: obra11;
    background-color: rgb(14, 80, 6); 
}

.obra12{
    grid-area: obra12;
    background-color: rgb(14, 80, 6); 
}

.obra13{
    grid-area: obra13;
    background-color: rgb(14, 80, 6); 
}

.obra21{
    grid-area: obra21;
    background-color:  rgb(14, 80, 6); 
}

.obra22{
    grid-area: obra22;
    background-color:  rgb(14, 80, 6); 
}

.obra23{
    grid-area: obra23;
    background-color:  rgb(14, 80, 6); 
}

.obra31{
    grid-area: obra31;
    background-color:  rgb(14, 80, 6); 
}

.obra32{
    grid-area: obra32;
    background-color:  rgb(14, 80, 6); 
}

.obra33{
    grid-area: obra33;
    background-color:  rgb(14, 80, 6); 
}

.obra41{
    grid-area: obra41;
    background-color:  rgb(14, 80, 6); 
}

.obra42{
    grid-area: obra42;
    background-color:  rgb(14, 80, 6); 
}

.obra43{
    grid-area: obra43;
    background-color:  rgb(14, 80, 6); 
}

.obra51{
    grid-area: obra51;
    background-color: rgb(14, 80, 6); 
}

.obra52{
    grid-area: obra52;
    background-color:  rgb(14, 80, 6); 
}

.obra53{
    grid-area: obra53;
    background-color:  rgb(14, 80, 6); 
}

.serv{
    width: auto;
    height: auto;
    background-color: rgb(104, 105, 17);
    margin: 10 auto;
    display: grid;
    gap: 2px;
    border: solid black 2px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "planos planos"
    "supervision supervision"
    "instalacionagua instalaciongas"
    "renderizados renderizados";
}

.servicios{
    font-size: 1.2rem;
    padding: 1rem;
}

.obra{
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 120px;
}

.imagenchica{
    width: 400px;
    height: 400px;
    padding: 3rem;
}

.imagenchica:hover{
    transform: scale(1.2,1.2);
    transition: all 2s;
}

#planos{
    grid-area: planos;
    margin: 1rem;
    background-color:  rgb(14, 80, 6); 
    text-align: center;
}

#supervision{
    grid-area: supervision;
    margin: 1rem;
    background-color:  rgb(14, 80, 6); 
    text-align: center;
}

#instalacionagua{
    grid-area: instalacionagua;
    margin: 1rem;
    background-color:  rgb(14, 80, 6); 
    text-align: center;
}

#instalaciongas{
    grid-area: instalaciongas;
    margin: 1rem;
    background-color:  rgb(14, 80, 6); 
    text-align: center;
}

#renderizados{
    grid-area: renderizados;
    margin: 1rem;
    background-color:  rgb(14, 80, 6); 
    text-align: center;
}

#titulo2{    
    width: fit-content;
    background-color: rgb(211, 214, 193);
    color: rgb(36, 36, 35);
    margin: 10 auto;
    text-align: center;
}

h4{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    padding: 1rem;
}

#seccion1{
    border: 5px black;
    border-radius: 5%;
}

#contactanos{
    width: fit-content;
    margin: 10 auto;
    text-align: center;
    background-color: rgb(211, 214, 193);
    color: rgb(36, 36, 35);
}

#contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#formulario{
    background-color:  rgb(14, 80, 6); 
    padding: 0.8rem;
    width: 450;
    font-family: 'Fira Sans Extra Condensed', sans-serif;    
    margin: 0.5cm;
}

#mapa{
    margin: 0.5cm;
}

.lineas{
    display: block;
    padding: 5px;
    width: 430 ;
    text-align: justify;
}

#darkModeButton {
    background-color: #f8f4f4;
    color: #080707;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #lightModeButton:hover {
    background-color: #f1da36;
  }